{
    "semi": true,
    "trailingComma": "all",
    "singleQuote": true,
    "printWidth": 80,
    "useTabs": false,
    "arrowParens": "always",
    "tabWidth": 4,
    "tailwindFunctions": ["clsx"],
    "plugins": [
        "prettier-plugin-organize-imports",
        "prettier-plugin-tailwindcss"
    ]
}
